In [ ]:
Go to Amazon

Search `Samsung`

Save product names to the database (XLSX , CSV , TXT, anything) (You can use anything that helps you uniquely identify the product.)

Task is to print all the new products and removed products since our last search.

So if we run your code daily it should print all products that are new on that page and all the products that have been removed since our last search.


****************************** Test ******************************
After you are done coding, this is how you can test your code:

1 New products detection: Remove one product from the database and that product should show up as new product in code output.

2. Remove product detection: Add one fake product to the database and it should show up as removed product.
****************************** Test ******************************

In [1]:
import time
from selenium import webdriver
import pandas as pd
import numpy as np

driver = webdriver.Chrome('./chromedriver')  

driver.get('http://www.amazon.in');
search_box = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_box.send_keys('Samsung')
search_box.submit()

prod_name = driver.find_elements_by_css_selector('.a-size-medium')

prod_list = []

for i in prod_name:
    if 'Samsung' in i.text and 'Great' not in i.text or 'samsung' in i.text and 'Great' not in i.text:
        prod_list.append(i.text.split('(')[0])

df = pd.DataFrame()

df['samsung_phones'] = list(set(prod_list))

df.to_csv(r'mydb.csv', index=False)
df

/tmp/ipykernel_32403/3856689147.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver')
/tmp/ipykernel_32403/3856689147.py:9: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_box = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
/tmp/ipykernel_32403/3856689147.py:13: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  prod_name = driver.find_elements_by_css_selector('.a-size-medium')

                                       samsung_phones
0                             Samsung Galaxy A52s 5G
1                                  Samsung Guru 1215
2                                 Samsung Galaxy M32
3                              Samsung Galaxy M53 5G
4                              Samsung Galaxy M32 5G
5   Samsung Galaxy A13 Blue, 4GB RAM, 64GB Storage...
6                              Samsung Galaxy M33 5G
7   Samsung Galaxy A23 Light Blue, 6GB RAM, 128GB ...
8                           Samsung Galaxy S21 FE 5G
9   Samsung Galaxy A23 Blue, 6GB RAM, 128GB Storag...
10                          Samsung Galaxy S20 FE 5G
11                                Samsung Galaxy A52
12                                Samsung Galaxy M12

In [2]:
import time
from selenium import webdriver
import pandas as pd
import numpy as np

driver = webdriver.Chrome('./chromedriver')  

driver.get('http://www.amazon.in');
search_box = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_box.send_keys('Samsung')
search_box.submit()

prod_name = driver.find_elements_by_css_selector('.a-size-medium')

prod_list = []

for i in prod_name:
    if 'Samsung' in i.text and 'Great' not in i.text or 'samsung' in i.text and 'Great' not in i.text:
        prod_list.append(i.text.split('(')[0])
        
list(set(prod_list))

/tmp/ipykernel_32403/2210483038.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('./chromedriver')
/tmp/ipykernel_32403/2210483038.py:9: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  search_box = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
/tmp/ipykernel_32403/2210483038.py:13: DeprecationWarning: find_elements_by_css_selector is deprecated. Please use find_elements(by=By.CSS_SELECTOR, value=css_selector) instead
  prod_name = driver.find_elements_by_css_selector('.a-size-medium')

['Samsung Galaxy A52s 5G ',
 'Samsung Guru 1215 ',
 'Samsung Galaxy M32 ',
 'Samsung Galaxy M53 5G ',
 'Samsung Galaxy M32 5G ',
 'Samsung Galaxy A13 Blue, 4GB RAM, 64GB Storage with No Cost EMI/Additional Exchange Offers, ',
 'Samsung Galaxy M33 5G ',
 'Samsung Galaxy A23 Light Blue, 6GB RAM, 128GB Storage Without Offers',
 'Samsung Galaxy A23 Blue, 6GB RAM, 128GB Storage with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy S20 FE 5G ',
 'Samsung Original EHS64 Wired in Ear Earphones with Mic, Black',
 'Samsung Galaxy S21 FE 5G ',
 'Samsung Galaxy M12 ']

In [5]:
df = pd.read_csv(r'mydb.csv')

prod_list = list(set(prod_list))

db_li = df['samsung_phones'].to_list()

print('new products are : ',list(set(prod_list) - set(db_li)))
print('removed products are : ',list(set(db_li) - set(prod_list)))

new products are :  ['Samsung Original EHS64 Wired in Ear Earphones with Mic, Black', 'Samsung Galaxy A23 Light Blue, 6GB RAM, 128GB Storage Without Offers', 'Samsung Galaxy A23 Blue, 6GB RAM, 128GB Storage with No Cost EMI/Additional Exchange Offers', 'Samsung Galaxy A13 Blue, 4GB RAM, 64GB Storage with No Cost EMI/Additional Exchange Offers, ']
removed products are :  ['Samsung Galaxy A52 ', 'fale_prod1']

In [ ]:
prod_list1 = prod_list[0:5]

df1 = pd.read_csv(r'new_prod.csv')

old_li = []

for i in range(len(df1)):
#     print(df['samsung_phones'][i])
    if df1['samsung_phones'][i] in prod_list1:
        old_li.append('old')
    elif df1['samsung_phones'][i] not in prod_list1:
        old_li.append('new')
df1['status'] = old_li
df1